.example-spacer {
  flex: 1 1 auto;
}

.page-container {
  height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card-container{
  width: 400px;
  margin: auto;
}

.input-field{
  width: 100%;
}

.div-buttons-container{
  margin: auto;
  display: grid;
}
