<div class = "login-register-container" [ngSwitch] = "viewType">
  <mat-card *ngSwitchCase = "'login'" class = "card-container">
    <mat-card-content>
      <div class = "input-container">
        <mat-form-field appearance = "fill" class = "input-field">
          <mat-label>Email</mat-label>
          <input matInput placeholder = "pat@example.com" [formControl] = "email" required>
          <mat-error *ngIf = "email.invalid">{{getErrorEmailMessage(email)}}</mat-error>
        </mat-form-field>
      </div>

      <div class = "input-container">
        <mat-form-field appearance = "fill" class = "input-field">
          <mat-label>Password</mat-label>
          <input matInput [type] = "hideLogin ? 'password' : 'text'" [formControl] = "password" required>
          <button mat-icon-button matSuffix (click) = "hideLogin = !hideLogin" [attr.aria-label] = "'Hide password'" [attr.aria-pressed] = "hideLogin">
            <mat-icon>{{hideLogin ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf = "password.invalid">{{getErrorPasswordMessage(password)}}</mat-error>
        </mat-form-field>
      </div>

      <div class = "div-buttons-container">
        <button mat-raised-button color = "primary" (click) = "onLogIn()">Log In</button>
        <button mat-button color = "primary" (click) = "onSwitchViewType('register')">Create an account</button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngSwitchCase = "'register'" class = "card-container">
    <mat-card-content>
      <div class = "input-container">
        <mat-form-field appearance = "fill" class = "input-field">
          <mat-label>Username</mat-label>
          <input matInput placeholder = "Bogdan" [formControl] = "username" required>
          <mat-error *ngIf = "username.invalid">{{getErrorUsernameMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class = "input-container">
        <mat-form-field appearance = "fill" class = "input-field">
          <mat-label>Email</mat-label>
          <input matInput placeholder = "pat@example.com" [formControl] = "emailRegister" required>
          <mat-error *ngIf = "emailRegister.invalid">{{getErrorEmailMessage(emailRegister)}}</mat-error>
        </mat-form-field>
      </div>

      <div class = "input-container">
        <mat-form-field appearance = "fill" class = "input-field">
          <mat-label>Password</mat-label>
          <input matInput [type] = "hideRegister ? 'password' : 'text'" [formControl] = "passwordRegister" required>
          <button mat-icon-button matSuffix (click) = "hideRegister = !hideRegister" [attr.aria-label] = "'Hide password'" [attr.aria-pressed] = "hideRegister">
            <mat-icon>{{hideRegister ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf = "passwordRegister.invalid">{{getErrorPasswordMessage(passwordRegister)}}</mat-error>
        </mat-form-field>
      </div>

      <div class = "input-container">
        <mat-form-field appearance = "fill" class = "input-field">
          <mat-label>Confirm Password</mat-label>
          <input matInput [type] = "hideConfirmRegister ? 'password' : 'text'" [formControl] = "confirmPassword" required>
          <button mat-icon-button matSuffix (click) = "hideConfirmRegister = !hideConfirmRegister" [attr.aria-label] = "'Hide password'" [attr.aria-pressed] = "hideConfirmRegister">
            <mat-icon>{{hideConfirmRegister ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf = "confirmPassword.invalid">{{getErrorConfirmPasswordMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class = "div-buttons-container">
        <button mat-raised-button color = "primary" (click) = "onRegister()">Register</button>
        <button mat-button color = "primary" (click) = "onSwitchViewType('login')">Back to Log In</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
