<mat-drawer-container class = "page-container" autosize>
  <mat-toolbar color = "primary">
    <button mat-icon-button (click) = "onChangePage('home')">
      <mat-icon>store</mat-icon>
    </button>
    <span>Bogdan's Shoe Store</span>
    <span class = "example-spacer"></span>
    <button mat-icon-button (click) = "onSettingsButton()">
      <mat-icon>settings</mat-icon>
    </button>
    <app-cart-button></app-cart-button>
    <button mat-icon-button (click) = "onChangePage('auth')">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>

  <div style = "width: 100vw">
    <div class = "div-row">
      <mat-card *ngFor = "let product of productArray" class = "item-card">
        <mat-card-content>
          <div style = "display: flex">
            <div>
              <p>Shoe Name: <span class = "lbl-name">{{product.name}}</span></p>
              <p>Shoe Size: {{product.size}} EU</p>
              <p>Shoe Price: {{product.price}} RON</p>
            </div>

            <img [src] = "product.image" class = "img-preview"/>
          </div>

          <div class = "div-buttons">
            <button mat-raised-button color = "warn" (click) = "onAddToCart(product)">Add To Cart</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</mat-drawer-container>
